* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

body {
    width: 100%;
    height: 100%;
    background-color: #F3EEE8;
}

main {
    width: 100%;
    height: 100%;
    position: absolute;
}

.left-page {
    width: 500px;
    float: left;
    display: block;
    margin-left: 100px;
    margin-top: 50px;
    text-align: center;
}

.left-page img {
    width: 179px;
    height: 179px;
}

.left-page p {
    text-align: justify;
    line-height: 32px;
}

.left-page button {
    width: 100%;
    background-color: #005BB5;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 15px;
    margin-top: 30px;
    cursor: pointer;
}

.rigth-page {
    width: 842px;
    height: 100%;
    float: right;
    background-color: #005BB5;
    border-radius: 50px 0 0 50px;
}

.form-cadastro {
    width: 500px;
    padding: 0 20px 0 20px;
    margin: 0 auto;
    
}

.form-cadastro label {
    color: white;
    display: flex;
}

.form-cadastro input {
    width: 465px;
    padding: 10px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-cadastro input[type=checkbox] {
    width: 20px;
    float: left;
}

.form-cadastro input[type=submit] {
    width: 100%;
    background: white;
    color: #005BB5;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
}

.form-cadastro p {
    
    padding: 10px;
}
@media screen and (min-width: 780px){
    .img-rigth{
        display: none;
        z-index: -999;
    }
    .rigth-page button{
        display: none;
    }
    .rigth-page .form-cadastro{
        margin-top: 50px;
    }
}
@media screen and (max-width: 768px) {
    .left-page {
        display: none;
    }
    .rigth-page{
        width: 100%;
        height: 130%;
        background-color: #005BB5;
        border-radius: 0;
        display: flex;
        justify-content: center;
    }
    .rigth-page .form-cadastro{
        width: 100%;
        height: 100%;
        text-align: center;
    }
    .rigth-page .img-rigth{
        width: 179px;
        height: 179px;
    }
    .rigth-page input{
        width: 100%;
    }
    .rigth-page input[type = submit]{
        width: 100%;
    }
    .rigth-page button{
        width: 100%;
        background: #005BB5;
        color:white ;
        font-family: sans-serif;
        font-size: 1rem;
        border: 1px white solid;
        border-radius: 10px;
        cursor: pointer;
        margin-top: 10px;
        padding: 10px;
    }
    .rigth-page input[type = submit]:hover{
        background-color: aliceblue;
        transition: 1s;
    }
    .rigth-page button:hover{
        background-color: black;
        transition: 1s;
    }
}

/* --- CÓDIGO EXTRA: REMOVE AS SETINHAS DE INPUTS NUMÉRICOS --- */
/* Para Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Para Firefox */
input[type=number] {
  -moz-appearance: textfield;
}