{% extends 'Componetes/Base/base.html' %} 
{% load static %} 

{% block title %}Configurações - HuMap{% endblock %} 

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'Pages/Configuracao/configuracao.css' %}" />
{% endblock %} 

{% block content %}
<div class="configuracao-wrapper">
  <h2 class="titulo-configuracoes">Configurações</h2>

  <div class="settings-list">
    <div class="item" onclick="alert('Configuração de Perfil!')">
      <span class="material-icons">account_circle</span>
      <p>Configuração de Perfil</p>
    </div>
    <div class="item" onclick="alert('Configuração de Privacidade!')">
      <span class="material-icons">lock</span>
      <p>Privacidade</p>
    </div>
    <div class="item" onclick="alert('Configuração de Notificações!')">
      <span class="material-icons">notifications_active</span>
      <p>Notificações</p>
    </div>
    <div class="item" onclick="alert('Opções de Segurança!')">
      <span class="material-icons">security</span>
      <p>Segurança</p>
    </div>
    <div class="item" onclick="alert('Opções de Conta!')">
      <span class="material-icons">account_balance_wallet</span>
      <p>Conta</p>
    </div>
  </div>

  <div class="footer-btn">
    <button onclick="alert('Salvando Alterações!')">Salvar</button>
  </div>
</div>

<button
  class="floating-button-home"
  onclick="window.location.href='{% url 'core:home' %}'"
>
  Voltar
</button>
{% endblock %} 

{% block extra_js %}
    <script src="{% static 'Pages/Configuracao/configuracao.js' %}"></script>
{% endblock %}