{% extends 'Componetes/Base/base.html' %} 
{% load static %}

{% block title %}Tutorial - HuMap{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'Pages/Tutorial/tutorial.css' %}">
{% endblock %}

{% block content %}
    <div class="content-wrapper">
        <h2>COMO EXPLORAR O MAPA</h2>

        <p class="compacto">
        Procure o local desejado utilizando a barra de pesquisa ou simplesmente arrastando o mapa pela tela. Você pode usar a opção filtro para especificar o tipo de denúncia que deseja visualizar ou clicar em Adicionar para registrar uma nova denúncia.
        </p>

        <p class="compacto">
        Utilize esse ícone <span class="plus-outline"></span> para denunciar diferentes problemáticas.
        </p>

        <h3>TIPOS DE INTERCORRÊNCIAS:</h3>

        <p>
            <span class="emoji">
                <img src="{% static 'assets/violencia urbana.png' %}" alt="Ícone de Violência Urbana">
            </span>
            Violência urbana, ocorrências de assaltos e crimes de alta periculosidade
        </p>
        
        <p>
            <span class="emoji">
                <img src="{% static 'assets/Saneamento.png' %}" alt="Ícone de Saneamento">
            </span>
            Problemas de saneamento básico, irregularidades no fornecimento de energia elétrica e práticas fraudulentas.
        </p>
        
        <p>
            <span class="emoji">
                <img src="{% static 'assets/Infraestutura urbana.png' %}" alt="Ícone de Infraestrutura">
            </span>
            Infraestrutura urbana, transporte público e obstrução de vias.
        </p>
        
        <p>
            <span class="emoji">
                <img src="{% static 'assets/meio ambiente.png' %}" alt="Ícone de Meio Ambiente">
            </span>
            Meio ambiente, com quedas de árvores, alagamentos e deslizamentos
        </p>
    </div>

    <button class="floating-button-home" onclick="window.location.href='{% url 'core:home' %}'">Voltar</button>
{% endblock %}

{% block extra_js %}
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    
    <script src="{% static 'Pages/Tutorial/tutorial.js' %}"></script>
{% endblock %}