/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
    width: 100%;
    height: 5rem;
    background: #005BB5;
    display: flex;
    align-items: center;
    padding: 0 15px;
    position: relative;
    justify-content: space-between;
}

/* Ícone hambúrguer */
.hamburger {
    display: flex;
    flex-direction: column;
    gap: 4px;
    cursor: pointer;
    padding: 3rem;
}

.hamburger span {
    width: 22px;
    height: 3px;
    background: #fff;
    border-radius: 3px;
}

/* Botão de perfil */
.perfil-btn {
    background: none;
    border: none;
    margin-right: 1rem;
    cursor: pointer;
    padding: 0.8rem;
}

.perfil-btn img {
    width: 3rem;
    height: 38px;
    border-radius: 0%;
}

/* Área de pesquisa */
.search-area {
    flex: 1rem;
    position: relative;
    display: flex;
    align-items: center;
}

.search-area input {
    padding: 1rem;
    width: 40rem; /* diminui o tamanho */
    height: 1rem; /* opcional */
    padding-right: 5rem;
    border-radius: 0.5rem;
    border: 10rem;
    outline: none;
    font-size: 1rem;
    position: relative;
    margin-left: 20vw;
}

/* Botão da lupa */
.search-btn {
    position: absolute;
    right: 28rem;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;

}

.search-btn img {
    width: 20px;
    height: 20px;
    position: absolute;
    display: flex;
    opacity: 30%;
    align-self: center;
    justify-self: flex-end;
}

/* Sugestões */
.suggestions {
    position: absolute;
    top: 48px;
    left: 0;
    background: #fff;
    width: 100%;
    border-radius: 12px;
    padding: 8px 0;
    display: none;
    box-shadow: 0 3px 6px rgba(0,0,0,0.25);
    z-index: 20;
}

.suggestions p {
    padding: 10px 16px;
    cursor: pointer;
    font-size: 15px;
}

.suggestions p:hover {
    background: #f0f0f0;
}

/* Botão de notificações */
.notify-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-right: 2vw;

}

.notify-btn img {
    width: 27px;
    height: 27px;

    filter: brightness(100%);
}

/* Caixa de notificações */
.notif-box {
    position: absolute;
    top: 70px;
    right: 5rem;
    width: 270rem;
    background: #fff;
    padding: 12px;
    border-radius: 12px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.25);
    display: none;
    z-index: 50;
}

.notif-box.open {
    display: block;
}

.notif-box p {
    font-size: 14px;
    margin-bottom: 10px;
    padding-bottom: 8px;
    border-bottom: 1px solid #eee;
}

.notif-box p:last-child {
    border-bottom: none;
}

/* MENU LATERAL */
.menu {
    position: fixed;
    top: 0;
    left: -280px;
    width: 280px;
    height: 100%;
    background: #005BB5;
    transition: .3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 3px 0 12px rgba(0,0,0,0.25);
    z-index: 100;
}

.menu.open {
    left: 0;
}

.menu-content {
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.menu-content a {
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ddd;
}

/* Botão de sair do menu */
.btn-close {
    padding: 1rem;
    width: 17rem;
    background: #005BB5;
    color: #fff;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

/* RESPONSIVIDADE */
@media (max-width: 480px) {
    .navbar {
        height: 60px;
        gap: 10px;
    }

    .perfil-btn img {
        width: 34px;
        height: 34px;
    }

    .notify-btn img {
        width: 23px;
        height: 23px;
    }

    .suggestions {
        top: 45px;
    }
}


#perfil{
    display: flex;
    background-color: #005BB5;
    height: auto;
    text-decoration: none;
    width: auto;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#perfil-img{
    background-color: beige;
    width: 12vw;
    height: 12vw;
    margin-left: 22px;
    margin-right: 20px;
    margin-bottom: 40px;
    border-radius: 10px;
}

#perfil-text{
    font-size: 1.5vw;
    margin-bottom: 8px;
    color: white;
}

#perfil-icones{
    width: 1vw;
    height: 1vw;
    display: flex;
    justify-self: flex-end;
    align-self: end;
}

.conteudo{
padding:30px 40px;
}
 
.post{
max-width:700px;
margin:auto;
}
 
.post-header{
display:flex;
align-items:center;
gap:10px;
margin-bottom:10px;
}
.post-header .bolinha{
width:35px;
height:35px;
border-radius:50%;
background:#f4bf16;
}
.post-header span{
font-weight:700;
}
 
.post-card{
background:#f4bf16;
height:380px;
border-radius:8px;
position:relative;
padding:10px;
display:flex;
flex-direction:column;
justify-content:flex-end;
}
 
.legenda{
font-size:11px;
color:#00000077;
border-top:1px solid #ffffff55;
padding-top:6px;
}
 
.acoes{
display:flex;
justify-content:center;
gap:25px;
margin-top:15px;
    }
 
.acoes button{
background:none;
border:none;
cursor:pointer;
}

.acoes img{
    width: 3vw;
    height:3vw;
}

