@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Ruda:wght@400..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background: #f4eddd;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
}

.container-principal-login {
  width: 100%;
  height: 100%;
  display: flex;
}

.coluna-formulario-login {
  width: 100%;
  background: #f4eddd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* CORREÇÃO: Você tinha uma regra duplicada aqui, deixei só uma */
  border-bottom-right-radius: 100px;
}

.coluna-ilustracao-login {
  width: 100%;
  background: #005bb5;
  display: flex;
  justify-content: center;
  align-items: center;

  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}

.formulario-login {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 15px;
}

input {
  width: 100%;
  padding: 9px 14px;
  border-radius: 20px;
  border: 1px solid #ccc;
}

button {
  background:  #005bb5;
  padding: 12px 15px;
  border-radius: 20px;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  font-size: 20px;
  margin-top: 8px;
  font-family: 'Montserrat', sans-serif;
}

.link-senha-esquecida-login,
.texto-registro-login a {
  font-size: 15px;
  color: #003970;
  text-decoration: none;
}

.link-senha-esquecida-login {
  align-self: center;
}

.texto-registro-login {
  font-size: 15px;
  margin-top: 3px;
  align-self: center;
}

.imagem-logo-login {
  width: 50%;
  margin-bottom: 5px;
}

.imagem-ilustracao-login {
  width: 80%;
  max-width: 650px;
}

@media (max-width: 768px) {

  .coluna-ilustracao-login {
    display: none;
  }

  .coluna-formulario-login {
    border-radius: 0;
  }

  .formulario-login {
    width: 85%;
  }
}