
.footer {
  width: 100%;
  background-color: #fcfcfc; /* Cinza escuro estilo HuMap */
  color: #4928df;
  padding: 40px 20px 20px 20px;
  margin-top: 40px;
  font-family: Arial, sans-serif;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.footer-col h1 {
  font-size: 28px;
  margin-bottom: 8px;
}

.footer-col h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-col p {
  opacity: 0.8;
  font-size: 14px;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin-bottom: 6px;
}

.footer-col ul li a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  opacity: 0.85;
}

.footer-col ul li a:hover {
  text-decoration: underline;
}

.footer-copy {
  text-align: center;
  font-size: 14px;
  opacity: 0.6;
  margin-top: 30px;
  padding-top: 15px;
  border-top: 1px solid #374151;
}

/* RESPONSIVIDADE */
@media (max-width: 600px) {
  .footer-col {
    text-align: center;
  }
}
